

.mainpage{
    
    height:100vh;
    display:grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 3fr 30fr 1fr;

}
    
a{
    text-decoration: none;
    font-size:  13px;

}
.middleItems{

    text-align:center;
    

}

.tL{
    background-color:white;


}

.tM{
    background-color:white;

}

.tR{
    background-color:white;
    text-align: right;
}

.mL{
    background-color:white;

}

.mM{
    background-color:white;
    align-items: center;
    
}

.mR{
    background-color:white;

}

.bL{
    background-color:#f2f2f2;
    text-align: left;
}

.bM{
    background-color:#f2f2f2;

}

.bR{
    background-color:#f2f2f2;
    text-align: right;
}